.admin {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.admin__container {
  padding: $l-size;
  flex: 1 1 auto;
  overflow: auto;
}

.admin-page-header {

}

.admin-action-list {

  display: flex;
  flex-flow: row;

  .admin-action-list__left {
    flex: 0 1 auto;
  }

  .admin-action-list__right {
    flex: 0 1 auto;
  }

}

