.home-page {
  background-color: whitesmoke;
}

.footer {
  background-color: darkgrey;
  height: 20rem;
}

.home-page__header {
  z-index: 100;
}

.product-lists {
  max-width: 800px;
  margin: auto;
}

.product-list {
  display: flex;
}

.product-list__description {
  flex: 0 0 auto;
  width: 15rem;
  margin-top: 1rem;
  margin-right: 3rem;
  text-align: center;
}

.product-list__products {
  flex: 0 1 auto;
  display: flex;
  flex-wrap: wrap;
}

.product-square {
  flex: 0 1 auto;
}