.product-types {

}

.product-types__actions {
  align-items: center;
  display: flex;
  margin: 0 0 3rem 0;
}

.product-types__actions--left {
  justify-content: flex-start;
  display: flex;
  flex: 0 1 auto;
}

.product-types__actions--right {
  justify-content: flex-end;
  display: flex;
  flex: 0 1 auto;
}

.product-types__lists {

}
