.product {

}

.product__left {

}

.product__image {
  //height: $m-container;
  //margin-top: $s-size;
  //margin-bottom: $s-size;
}

.product__right {

}

.product__top-right {

}

.product__name {
  font-size: 40px;
  color: black;
}

.product__product-type-name {
  font-size: 20px;
  color: grey;
}

.product__price {

}

.product__description {

}

.product__bottom-right {

}

.product__colors {

}