html {
  font-size: 62.5%;
  width: 100%;
}

body {
  font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
  font-size: $m-size;
  width: 100%;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}