html {
  font-size: 62.5%;
  width: 100%;
}

body {
  background: white;
  font-family: 'Lora', serif;
  font-size: $m-size;
  width: 100%;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}